<!DOCTYPE html>
<html>
<head>
<title> </title>
<meta charset="iso-8859-1" />
<link href="../static/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="page">
  <div id="header">


    <!-- start of header -->
    <ul>
      <li><a href="index.html">home</a></li>
      
      <li><a href="events.html">events</a></li>
      
      <li class="current"><a href="contact-us.html">contact</a></li>
    </ul>
    <div> <a href="register.html" class="join"></a>
      <h3>PROIN AC EUISMOD MI</h3>
      <p>Suspe disse vitae diam</p>
    </div>
  </div>
  <!-- end of header -->
  <div id="body">
    <div class="contents">

      <div >
         <h1>CONTACTANOS</h1>
        <form action="#" method="post">
          <table >
            <tbody><tr>
              <td><input type="text" value="Name" class="txtfield"  ></td>
            </tr>
            <tr>
              <td><input type="text" value="Email" class="txtfield"  ></td>
            </tr>
            <tr>
              <td><textarea name="message" class="txtfield"  >Message</textarea></td>
            </tr>
            <tr>
              <td><input type="submit" value="" class="button"></td>
            </tr>
          </tbody></table>
        </form>
      </div>

      <!-- start of content -->
      <h1>CONTACT DETAILS</h1> 
      <br/>
      <p>Address : 32 Morbi Suscipit Semquis Aliquet Consequat, 1234</p>
      <br/>
      <p>Office Phone Number : (864) 232-3553</p>
      <br/>
      <p>Fax Number : (864) 232-4160</p>
      <br/>
      <p>Email : info@companyname.com</p>
    </div>
    <!-- end of contents -->
  </div>
  <!-- end of body wrapper -->
</div>
<div id="footer">
  <!-- start of footer part -->
  <div>
    <ul>
      <li><a href="#" class="fb">Facebook</a></li>
      <li><a href="#" class="twitr">Twitter</a></li>
    </ul>
    <span>Copyright &copy; <a href="#">Domain Name</a> - All Rights Reserved | Template By <a target="_blank" href="http://www.freewebsitetemplates.com/">FreeWebsiteTemplates.com</a></span> </div>
</div>
<!-- end of footer part -->
</body>
</html>
