<!DOCTYPE html>
<html>
<head>
<title></title>
<meta charset="iso-8859-1" />
<link href="../static/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <form >
    <label>nombre</label>
    <input placeholder="escriba nombre" name="nombre">
    <label>apellido</label>
    <input placeholder="apellido" name="apellido">
    <input type="submit" value="enviar">
  </form>

<a href="https://api.whatsapp.com/send?phone=#"   &amp;text= "Me intesesa este articulo..." title="Enviar mensaje directo Whatsapp" target="_blank" class="whatsappLink fixed-bottom  aWsp">
  <img src="../static/images/whatsapp.png" class="wsp  rounded float-end " alt="WhatsApp Chat  ">
</a>

<div id="page">
  <div id="header">
    <!-- start of header -->
    <ul>
      <li class="current"><a href="index.html">INICIO</a></li> 
      <li><a href="events.html">EVENTO</a></li>   
      <li><a href="contact-us.html">CONTACTO</a></li>
      <li><a href="register.html">REGISTRO</a></li>
      <li></li>
      <a href="#"><img src="../static/images/10.jpg">  </a>
     
    </ul>
   
    <!-- boo registrar <div> <a href="register.html" class="join"></a>
      <h3>PROIN AC EUISMOD MI</h3>
      <p>Suspe disse vitae diam</p>
    </div> -->
  </div>
  <!-- end of header -->
  <div id="body">
    <div id="main">
      <h2> Imagenes de la carreras</h2>
      <div class="featured">
        <!-- start of featured -->
        <a href="#"><img  src="../static/images/home-biker.jpg"  width="270" height="180" alt=""></a> <a href="#"><img src="../static/images/home-bikers.jpg"  width="270" height="180" alt=""></a>
        <p> This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. </p>
        <p>Looking for more templates? Just browse through all our Free Website Templates and find what you&acute;re looking for. But if you don&acute;t find any website template you can use, you can try our Free Web Design service and tell us all about it.</p>
      </div>
      <!-- end of featured -->
      <div class="section" >
        <!-- srtart of gallery and article section -->
        <div id="gallery">
          <h3>Patrocinadores</h3>
          <ul>
            <li><a href="#"><img src="../static/images/home-biker-thumbnail.jpg"   width="125" height="80" alt=""></a></li>
            <li><a href="#"><img src="../static/images/home-boys.jpg" width="125" height="80" alt=""></a></li>
            <li><a href="#"><img src="../static/images/home-girls.jpg" width="125" height="80" alt=""></a></li>
            <li><a href="#"><img src="../static/images/home-family.jpg" width="125" height="80" alt=""></a></li>
          </ul>
          <a class="more" href="#">   </a> </div>
        <div id="events">
          <h3>Informacion del Evento</h3>
          <ul>
            <li>Aenean at risus quam, et semper nunc. Sed mollis arcu at augue facilisis a congue turpis</li>
            <li>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac</li>
            <li class="last">Duis dui enim, gravida at hendrerit id, molestie eget quam. Phasellus posuere nunc vitae ipsum aliquam et lobortis</li>
          </ul>
          <a class="more" href="#">   </a> </div> 
      </div>
      <!-- end of gallery and article section -->
    </div>
    <div id="sidebar">
      <!-- start of sidebar -->
      <ul>
        <li>
          <h3><a href="#">Detalles</a></h3>
          <p></p>
        </li>
        <li>
          <h3><a href="#">detalles</a></h3>
          <p> </p>
        </li> 
        <li>
          <h3><a href="#">Mapa del Recorrido </a></h3>
        
        </li>
      </ul>

    </div>
    <!-- end of sidebar -->
  </div>
  <!-- end of body wrapper -->
</div>
<div id="footer">
  <!-- start of footer part -->
  <div>
    <ul>
      <li><a href="#" class="fb">Facebook</a></li>
      <li><a href="#" class="twitr">Twitter</a></li>
    </ul>
    <span>Copyright &copy; <a href="#">Domain Name</a> - All Rights Reserved | Template By <a target="_blank" href="http://www.freewebsitetemplates.com/">FreeWebsiteTemplates.com</a></span> </div>
</div>
<!-- end of footer part -->
</body>
</html>
