<!DOCTYPE html>
<html>
<head>
<title></title>
<meta charset="iso-8859-1" />
<link href="../static/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>

<a href="https://api.whatsapp.com/send?phone=#"   &amp;text= "Me intesesa este articulo..." title="Enviar mensaje directo Whatsapp" target="_blank" class="whatsappLink fixed-bottom  aWsp">
  <img src="../static/images/whatsapp.png" class="wsp  rounded float-end " alt="WhatsApp Chat  ">
</a>

<div id="page">
  <div id="header">
    <!-- start of header -->
    <ul>
      <li><a href="index.html">home</a></li>
      <li><a href="about.html">about</a></li>
      <li><a href="events.html">events</a></li> 
      <li><a href="blog.html">blog</a></li>
      <li><a href="contact-us.html">contact</a></li>
    </ul>
    <div> <a href="register.html" class="join"></a>
      <h3>PROIN AC EUISMOD MI</h3>
      <p>Suspe disse vitae diam</p>
    </div>
  </div>
  <!-- end of header -->
  <div id="body">
    <div class="contents">
      <h1>REGISTRATION</h1>
      <div class="registration">
        <p> This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for help on the Forum. </p>
        <form action="#" method="post">
          <table cellspacing="0" cellpadding="0">
            <tbody>
              <tr>
                <td><label>First Name*</label></td>
                <td><input type="text" value="" class="txtfield" /></td>
              </tr>
              <tr>
                <td><label>Last Name*</label></td>
                <td><input type="text" value="" class="txtfield" /></td>
              </tr>
              <tr>
                <td><label>Email*</label></td>
                <td><input type="text" value="" class="txtfield" /></td>
              </tr>
              <tr>
                <td><label>Password*</label></td>
                <td><input type="text" value="" class="txtfield" /></td>
              </tr>
              <tr>
                <td><label>Confirm Password*</label></td>
                <td><input type="text" value="" class="txtfield" /></td>
              </tr>
              <tr>
                <td><label>Address</label></td>
                <td><textarea></textarea></td>
              </tr>
              <tr>
                <td><label>Phone</label></td>
                <td><input type="text" value="" class="txtfield" /></td>
              </tr>
              <tr>
                <td colspan="2"><input type="checkbox" class="checkbox" />
                  <label>Join Our Newsletter</label></td>
              </tr>
              <tr>
                <td colspan="2"><input type="checkbox" class="checkbox" />
                  <label>I agree to the Terms of Use and Privacy Policy</label></td>
              </tr>
              <tr>
                <td colspan="2"><input type="submit" value="Submit" class="button" /></td>
              </tr>
              <tr>
                <td colspan="2">* = Required Field</td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
  <!-- end of body wrapper -->
</div>
<div id="footer">
  <!-- start of footer part -->
  <div>
    <ul>
      <li><a href="#" class="fb">Facebook</a></li>
      <li><a href="#" class="twitr">Twitter</a></li>
    </ul>
    <span>Copyright &copy; <a href="#">Domain Name</a> - All Rights Reserved | Template By <a target="_blank" href="http://www.freewebsitetemplates.com/">FreeWebsiteTemplates.com</a></span> </div>
</div>
<!-- end of footer part -->
</body>
</html>
